<h3> Objet : <%= email.object %> </h3>
<hr>
<p> <%= email.body %> </p>
<a id="no-read-toggle" type="button" class="btn btn-primary receive_email" href="email/<%=email.id%>" data-method="PATCH" data-remote="true">Marquer comme non-lu</a>
<a type="button" class="btn btn-danger" href="email/<%= email.id %>" data-method="DELETE" data-remote="true">Supprimer</a>
