<li id="list-email-<%= email.id %>" > 
    Object : <%= email.object %>
    <a href="email/<%= email.id %>" data-method="DELETE" data-remote="true"><i class="fas fa-trash-alt"></i></a> 
    <br> <br>
</li>