<li id="list-email-<%= email.id %>" > 
    <a href="email/<%= email.id %>" data-method="GET" data-remote="true" style="font-weight:bold"> Object : <%= email.object %> </a>
    <a href="email/<%= email.id %>" data-method="DELETE" data-remote="true"><i class="fas fa-trash-alt float-right"></i></a> 
    <br> <br>
</li>