<div class="container">
  <div class="row">


    <div class="col-lg-6">
     <h1>Liste des emails</h1>
      <div class="card">
        <% @emails.each do |email| %>
          <ul>
            <li> Object : <%= email.object %> </li>
          </ul>
        <% end %>
      </div>

    </div>

    <div class="col-lg-6">
      <h1>Email sélectionné</h1>
      <div class="card">
        <% @emails.each do |email| %>
          <ul>
            <li> Object : <%= email.object %> </li>
            <ul>
              <li> Body : <%= email.body %> </li>
            </ul>
          </ul>
        <% end %>
      </div>

    </div>