<div class="container">
  <div class="row">


    <div class="col-lg-6">
     
      <div class="card">
        <div class="card-header">
          <h1>Liste des emails : <a type="button" class="btn btn-primary" href="email" data-method="POST" data-remote="true">Recevoir un email</a></h1>
        </div><br>
          <ul id="list-email">
            <% @emails.each do |email| %>
              <li id="list-email-<%= email.id %>" > <a href="email/<%= email.id %>" data-method="GET" data-remote="true"> Object : <%= email.object %> </a>
              <a href="email/<%= email.id %>" data-method="DELETE" data-remote="true"><i class="fas fa-trash-alt"></i></a> 
              <br> <br>
              </li>
            <% end %>
          </ul>
      </div>

    </div>

    <div class="col-lg-6">

      <div class="card">
        <div class="card-header">
          <h1>Email sélectionné :</h1>
        </div><br>
          <ul id="email-selected" >
          </ul>
      </div>

    </div>