<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <a> <strong>Objet :</strong> <%= @email.object %></a>
        </div>
        <a> <strong>Contenu :</strong><br> <%= @email.body %></a>
      </div>
    </div>
  </div>
</div>