@import "variables/personal_variables";
@import "variables/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";
@import "components/*";

.fas {
  margin-right: 10px;
}

.col-3, .col-9 {
  padding: 0%;
}

.modal-dialog,  .modal-title {
  text-align: center;
}

.logo {
  font-size: 12em;
  color: white;
}
.nav-item {
  margin: 5px;
}
