@import "variables/personal_variables";
@import "variables/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";
@import "components/*";

.fas, .far {
  margin-right: 10px;
}

.col-3, .col-9 {
  padding: 0%;
}

.modal-dialog {
  text-align: center;
}

.modal-title {
  color: white;
}

.navbar {
  height: 60px;
}

.nav-item {
  margin: 5px;
}

.btn {
  margin-right: 5px;
  margin-left: 5px;
}
.card-header {
  color: black;
}
.devise {
text-align: center;
}


.email-1 {
  height: 100px;
}

.email-2 {
  height: 60px;
}
.one {
  margin-right: 0px;
}